## Using regular expressions

## Reading text

In [34]:
text="1 111103982 MONTOYA OLVERA FERNANDA DANAE SEC S1B 22/08/2020 2 201400019 LOPEZ SANCHEZ CAMILA IVANNA SEC S1C 24/08/2020 3 101102556 PEÑA OROPEZA GUSTAVO ENRIQUE SEC S1D 25/08/2020 4 142100183 AVENDAÑO MATURANO YENI SEC S2A 13/08/2020 5 201400017 BALLESTEROS PAULINO XITHLALY SEC S2A 06/08/2020 6 101103091 CONTRERAS CAMACHO ABRAHAM ARMANDO SEC S2B 18/08/2020 7 181300054 JIMENEZ LUGO SEBASTIAN SEC S2B 19/08/2020 8 131201782 GARCIA GOMEZ ALMA NELLY SEC S2C 25/08/2020 9 090100373 FRANCO PEÑA AVRIL GABRIELA SEC S3A 12/08/2020 10 201400020 LOPEZ SANCHEZ FRIDA VALERIA SEC S3A 24/08/2020 11 142100236 JIMENEZ PEÑA JAZMIN ARELY SEC S3B 12/08/2020 12 171300038 CERON AGUILAR YOALY ESTEFANIA SEC S3C 19/08/2020 13 201400018 FLORES ESCOBAR JOSE LINO SEC S3C 19/08/2020 14 181400010 OLGUIN SANCHEZ OSCAR YAEL SEC S3C 18/08/2020 15 090101561 REYES CERVANTES CARLOS EMILIANO SEC S3C 21/08/2020 16 181400022 SANCHEZ TAPIA BARBARA SEC S3C 17/08/2020"

## Importing module Regex and pattern to look for

In [47]:
import re

#pattern="(<.*?>)(.*)(<.*?>)"
pattern="(?:\d{9})\s(.*?)\s(?:SEC)\s(.{3})"
g=re.findall(pattern,text)
print(g)

[('MONTOYA OLVERA FERNANDA DANAE', 'S1B'), ('LOPEZ SANCHEZ CAMILA IVANNA', 'S1C'), ('PEÑA OROPEZA GUSTAVO ENRIQUE', 'S1D'), ('AVENDAÑO MATURANO YENI', 'S2A'), ('BALLESTEROS PAULINO XITHLALY', 'S2A'), ('CONTRERAS CAMACHO ABRAHAM ARMANDO', 'S2B'), ('JIMENEZ LUGO SEBASTIAN', 'S2B'), ('GARCIA GOMEZ ALMA NELLY', 'S2C'), ('FRANCO PEÑA AVRIL GABRIELA', 'S3A'), ('LOPEZ SANCHEZ FRIDA VALERIA', 'S3A'), ('JIMENEZ PEÑA JAZMIN ARELY', 'S3B'), ('CERON AGUILAR YOALY ESTEFANIA', 'S3C'), ('FLORES ESCOBAR JOSE LINO', 'S3C'), ('OLGUIN SANCHEZ OSCAR YAEL', 'S3C'), ('REYES CERVANTES CARLOS EMILIANO', 'S3C'), ('SANCHEZ TAPIA BARBARA', 'S3C')]

## Looping through results and making a list (through list comprehension)

In [49]:
chicos=[n for n in g]

In [52]:
df = pd.DataFrame(chicos,columns=['emails','uu'])
df

                               emails   uu
0       MONTOYA OLVERA FERNANDA DANAE  S1B
1         LOPEZ SANCHEZ CAMILA IVANNA  S1C
2        PEÑA OROPEZA GUSTAVO ENRIQUE  S1D
3              AVENDAÑO MATURANO YENI  S2A
4        BALLESTEROS PAULINO XITHLALY  S2A
5   CONTRERAS CAMACHO ABRAHAM ARMANDO  S2B
6              JIMENEZ LUGO SEBASTIAN  S2B
7             GARCIA GOMEZ ALMA NELLY  S2C
8          FRANCO PEÑA AVRIL GABRIELA  S3A
9         LOPEZ SANCHEZ FRIDA VALERIA  S3A
10          JIMENEZ PEÑA JAZMIN ARELY  S3B
11      CERON AGUILAR YOALY ESTEFANIA  S3C
12           FLORES ESCOBAR JOSE LINO  S3C
13          OLGUIN SANCHEZ OSCAR YAEL  S3C
14    REYES CERVANTES CARLOS EMILIANO  S3C
15              SANCHEZ TAPIA BARBARA  S3C

## Exporting results

In [ ]:
df.to_csv("chicosinscritos.csv",encoding='latin')